<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Create a logcat appender -->
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <!-- Set the root logger level to INFO and attach the logcat appender -->
    <root level="INFO">
        <appender-ref ref="logcat" />
    </root>
</configuration>